<div id="wrapper">
<h1>Scraper App</h1>

<p>Here are the current articles from realclearpolitics.com:</p>

<ul>
  <div id="articles">
  {{#each articles}}
  <li data-id={{_id}}>
    <p>Title: {{title}}</p>
    <p>Publisher: {{publisher}}</p>
    <p>Author: {{author}}</p>
    <p>Link: {{link}}</p>
  </li>
  <br>
  {{/each}}
  </div>
  <div id="comments"></div>
</ul>
</div>